/* Global styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2f5; /* Ljus bakgrundsfärg */
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}


/* Button styling */
button {
  background-color: #007bff; /* Blå bakgrundsfärg */
  color: #ffffff; /* Vit textfärg */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Mörkare blå färg vid hover */
}



/* Error message styling */
p {
  color: #e74c3c; /* Röd färg för felmeddelanden */
  font-size: 14px;
  margin-top: 10px;
}

/* Favorites list styling */
.favorites-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.favorites-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9; /* Ljus bakgrund för listobjekt */
  border: 1px solid #ddd; /* Ljus kantlinje */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.favorites-list li button {
  background-color: #dc3545; /* Röd bakgrundsfärg för ta bort-knapp */
  font-size: 14px;
}

.favorites-list li button:hover {
  background-color: #c82333; /* Mörkare röd färg vid hover */
}

/* Light theme styling */
.light-theme {
  background-color: #ffffff; /* Vit bakgrundsfärg */
  color: #000000; /* Svart textfärg */
}

/* Dark theme styling */
.dark-theme {
  background-color: #333333; /* Mörk bakgrundsfärg */
  color: #ffffff; /* Vit textfärg */
}








